html {
  font-family: 'Roboto';
  background: white;
  width: 100vw;
  height: 100vh;
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
}

header {
  height: 48px;
  background-color: #0077ff;
  color: white;
  padding: 12px 12px;
}
main {
  padding: 2px;
  height: calc(100% - 48px);
}

header {
  font-size: large;
  font-weight: 500;
}

.list {
  width: 100%;
  height: 100%;
}

.list-item {
  height: 48px;
  margin: 24px 32px;
  color: #4391eb;
}
.list-item > div {
  margin-left: 20px;
  font-size: medium;
  color: #000e1f;
}
.comment {
  color: #898d91;
  font-size: smaller;
}

.xbtn {
  cursor: pointer !important;
}
