<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-config" content="./favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="title" content="Générateur d'attestation de déplacement dérogatoire - COVID-19">
    <meta name="description" content="Ce service officiel génère une version numérique de la déclaration de déplacement covid-19 à présenter aux forces de sécurité lors d’un contrôle.">
    <meta name="keywords" content="covid19, covid-19, attestation, déclaration, déplacement, officielle, gouvernement">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="French">
    <meta property="og:title" content="Générateur d'attestation de déplacement dérogatoire  - COVID-19" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:description" content="Ce service officiel génère une version numérique de la déclaration de déplacement covid-19 à présenter aux forces de sécurité lors d’un contrôle." />
    <link rel="canonical" href="https://media.interieur.gouv.fr{{ PUBLIC_URL || '/deplacement-covid-19' }}" />
    <meta property="og:url" content="https://media.interieur.gouv.fr{{ PUBLIC_URL || '/deplacement-covid-19' }}" />
    <meta property="og:site_name" content="Générateur d'attestation de déplacement dérogatoire  - COVID-19" />
    <script type='application/ld+json'>{"@context":"http://www.schema.org","@type":"GovernmentOrganization","name":"Générateur d'attestation de déplacement dérogatoire  - COVID-19","description":"Ce service officiel génère une version numérique de la déclaration de déplacement covid-19 à présenter aux forces de sécurité lors d’un contrôle.","address":{"@type":"PostalAddress","addressCountry":"France"}}</script>

    <link rel="apple-touch-icon" sizes="180x180" href="./favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicons/favicon-16x16.png">
    <link rel="manifest" href="./favicons/site.webmanifest">
    <link rel="mask-icon" href="./favicons/safari-pinned-tab.svg" color="#21bf73">

    <title>Attestation de déplacement dérogatoire</title>
</head>
<body>
    <header role="banner" class="wrapper">
        <picture>
            <source srcset="/MIN_Interieur_RVB_dark.svg" media="(prefers-color-scheme: dark)">
            <img src="/MIN_Interieur_RVB.svg" alt="Ministère de l'intérieur. Liberté, égalité, fraternité."
                class="logo" role="presentation" aria-hidden="true">
        </picture>

        <div>
            <h1 class="flex flex-wrap">
                <span class="covid-title">
                    COVID-19
                </span>
                <span class="covid-subtitle">
                  Attestation de déplacement dérogatoire
                </span>
            </h1>
            <p class="text-desc">
                En application du décret n°2020-1310 du 29 octobre 2020 prescrivant les mesures générales 
                nécessaires pour faire face à l'épidémie de Covid19 dans le cadre de l'état d'urgence sanitaire 
            </p>

        </div>
        <!-- HART911 : add shortcuts -->
        <div class="d-flex justify-content-around flex-wrap">
        <button type="button" data-reason="travail" class="btn btn-primary btn-attestation shortcut-btn"><span ><i class="fa fa-3x fa-building inline-block mb-1"></i><br>Boulot</span></button>
        <button type="button" data-reason="achats_culturel_cultuel" class="btn btn-primary btn-attestation shortcut-btn"><span ><i class="fa fa-3x fa-shopping-cart inline-block mb-1"></i><br>Courses</span></button>
        <button type="button" data-reason="sport_animaux" class="btn btn-primary btn-attestation shortcut-btn"><span ><i class="fa fa-3x fa-walking inline-block mb-1"></i><br>Balade</span></button>
        <button type="button" data-reason="sante" class="btn btn-primary btn-attestation shortcut-btn"><span ><i class="fa fa-3x fa-briefcase-medical inline-block mb-1"></i><br>Medical</span></button>
        <button type="button" data-reason="handicap" class="btn btn-primary btn-attestation shortcut-btn"><span ><i class="fa fa-3x fa-wheelchair inline-block mb-1"></i><br>Handicap</span></button>
        <button type="button" data-reason="enfants" class="btn btn-primary btn-attestation shortcut-btn"><span ><i class="fa fa-3x fa-graduation-cap inline-block mb-1"></i><br>Ecole</span></button>
        </div>
    </header>
    <main role="main">
        <p
            class="alert  alert-danger  d-none"
            role="alert"
            id="alert-facebook"
        ></p>

        <div class="wrapper">
            <form id="form-profile" accept-charset="UTF-8"></form>
            <div id="formgroup-storedata"
                class="form-check text-center mt-4">
                <input class="form-check-input"
                        type="checkbox"
                        name="storedata"
                        id="field-storedata"
                        value="storedata">
                <label class="form-check-label"
                        for="field-storedata">
                        Mon téléphone se souvient de moi
                </label>
            </div>
            <p class="text-center mt-5">
                <button type="button" id="generate-btn" class="btn btn-primary btn-attestation">
                  <span>
                    <i class="fa fa-file-pdf inline-block mr-1"></i>
                    Générer mon attestation
                  </span>
                </button>
            </p>

            <div class="bg-primary  d-none" id="snackbar">
                L'attestation est téléchargée sur votre appareil.
            </div>

            <p class="text-center mt-1">
                <button type="button" id="cleardata" class="btn  btn-primary  btn-clear-data">
                    <span>
                    <i class="fa fa-trash inline-block mr-1"></i>
                    Effacer le formulaire et son
                    contenu sauvegardé sur mon téléphone
                    </span>
                </button>
            </p>
            <div class="bg-primary  d-none"
                id="snackbar-cleardata">
                Les données du formulaire et les données sauvegardées ont été effacées.
            </div>
        </div>

        <div id="footnotes">
            <p id="footnote1">
                [1] Les personnes souhaitant bénéficier de l'une de ces exceptions doivent se munir s'il y a lieu, lors de leurs déplacements hors de leur domicile, d'un document leur permettant de justifier que le déplacement considéré entre dans le champ de l'une de ces exceptions.
            </p>
            <p id="footnote2">
                [2]  A utiliser par les travailleurs non salariés, lorsqu'ils ne peuvent disposer d'un justificatif de déplacement établi par leur employeur.
            </p>
            <!-- <p id="footnote3">
                [3] Y compris les acquisitions à titre gratuit (distribution de denrées alimentaires...) et les déplacements liés à la perception de prestations sociales et au retrait d'espèces.
            </p> -->
        </div>
        <!-- HARTY911
        <p class="label-mi">Pour lutter contre l’épidémie, l’application TousAntiCovid est disponible sur :</p>
        <a target="_blank" href="https://itunes.apple.com/app/id1511279125"><img style="height: 50pt; margin-bottom: 5px;" class="center" src="/appstore-badge.png" alt="logo appstore"></a>
        <a target="_blank" href="https://play.google.com/store/apps/details?id=fr.gouv.android.stopcovid"><img style="height: 48pt; margin-bottom: 15px;" class="center" src="/google-play-badge.png" alt="logo playstore"></a>
        -->
        <p class="github">
            Le code source de ce service est consultable sur <a href="https://gitlab.com/harty911/attest-covid19" class="github-link">GitLab</a>.
        </p>
        <p class="label-mi">
            Ministère de l'Intérieur - DNUM - SDIT
        </p>
        <picture class="center">
          <source srcset="/logo_dnum_dark.svg" media="(prefers-color-scheme: dark)">
            <img class="center" src="/logo_dnum.svg" alt="logo dnum">
        </picture>
    </main>
    <footer role="contentinfo" class="main-footer">
        <div class="footer-links">
            <a href="./confidentialite.html" title="Confidentialité - nouvelle page" target="_blank" class="footer-line footer-link">Confidentialité</a>
            <a href="https://www.interieur.gouv.fr/Infos-du-site/Mentions-legales" title="Mentions légales - nouvelle page" target="_blank" class="footer-line footer-link">Mentions légales</a>
            <a href="https://www.gouvernement.fr/info-coronavirus" title="Information du gouvernement sur le Covid-19 - nouvelle page" target="_blank" class="footer-line footer-link">Informations du gouvernement sur le Covid-19</a>
            <a href="./emergency.html" title="Urgence attestation" target="_blank" class="footer-line footer-link">Urgence Attestation</a>
           <div class="footer-line" >Plus d’infos au <a class="num-08" href="tel:0800130000" title="Numéro vert - appel gratuit depuis un poste fixe en France">0 800 130 000</a></div>
            <p class="footer-line" id="version"></p>
        </div>
    </footer>

    <div class="alert  alert-info  d-none" id="update-alert">
        Une nouvelle version est disponible. Cliquer sur le bouton pour l'obtenir.
        <p class="text-right">
            <button id="reload-btn" class="btn  btn-info">Mettre à jour</button>
        </p>
    </div>

    <script src="./js/main.js"></script>
</body>
</html>
